<div class="most-viewed-products">
    <h2><f:translate key="most_viewed" /></h2>
    <f:if condition="{products}">
        <f:then>
            <div class="row">
                <f:for each="{products}" as="product">
                    <div class="col-md-4">
                        <f:render partial="Product/ListItem" arguments="{product: product}" />
                    </div>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <p><f:translate key="most_viewed_empty" /></p>
        </f:else>
    </f:if>
</div>
